.chatspace
  = render 'shared/side_bar'

  .chat-main
    .chat-main__header
      .chat-main__header--left
        %h2 sample
        %p.group-members Members:name1
      .chat-main__header--right
        %a.edit-botton Edit

    .chat-main__body
      %ul.chat-contents

    .chat-main__footer
      .chat-main__footer__messagebody
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'chat-main__footer__messagebody__text', placeholder: 'type a message'
          .chat-main__messagebody__image
            = f.label :image do
              = fa_icon 'picture-o', class: 'fa'
              = f.file_field :image, class: 'hide'
          .chat-main__footer__send
            = f.submit 'Send', class: 'send-btn'
