%li.chat-content{data: {id:"#{message.id}"}}
  .chat-content__header
    .chat-content__name
      = message.user.name
    .chat-content__time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
    .chat-content__message
      - if message.content.present?
        = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
